name: Build and Deploy GitHub Pages

# Run this action every time you push to the 'main' branch
on:
  push:
    branches:
      - main

# Permissions needed to deploy to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyYAML Jinja2
          
      - name: Run build script
        run: python build.py  # This generates the 'dist' folder

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist  # Upload the 'dist' folder

  deploy:
    needs: build  # Wait for the 'build' job to finish
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 
        # This action takes the artifact from 'build' and deploys it
